includeConfig "${projectDir}/conf/base.config"

params {
    gene_list = null
    outdir = null
    genomic = null
    genomic_noncoding = null
    exonic = null
    sv = null
    encode_file = null
    refseq_file = null
    gnomAD = null
    uk_Biobank = null
    colour_phenotypes = null
}

profiles {
    hpc {
        process {
            executor = 'slurm'
            queue    = 'mpcs.p'
        }
        workDir = "${System.getenv('WORK')}/nextflow_work_plot_var"
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        singularity.enabled = false
        apptainer.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${projectDir}/container"
        docker.enabled = false
        apptainer.enabled = false
    }
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "${projectDir}/container"
        docker.enabled = false
        singularity.enabled = false
    }
}
