process {
    withName: "FETCH_GENE_INFO" {
        container = 'python:3.11'
        cpus = 2
        memory = 8.GB

    }
    withName: "PLOT_VARIANTS" {
        container = 'ghcr.io/maurya-anand/plot-protein-variant:1.0.0'
        containerOptions = '--env XDG_CACHE_HOME=$PWD/.cache --env HOME=$PWD'
        cpus = 4
        memory = 24.GB
    }
}
