process {
    withName: "FETCH_GENE_INFO" {
        container = 'python:3.11'
        cpus = 2
        memory = 8.GB

    }
    withName: "PLOT_VARIANTS" {
        container = 'plotimg:latest'
        containerOptions = '--env XDG_CACHE_HOME=$PWD/.cache --env HOME=$PWD'
        cpus = 2
        memory = 16.GB
    }
}
